

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("/images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .navbar-custom {
    height: 65px; 
  }
  
  .navbar-nav .nav-link{
    color: rgb(255, 255, 255);
  }
  
  .navbar-nav .nav-link:hover {
   color: rgb(169, 164, 173);
  }
  
  /* login form */
  
  .blur-bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
  }
  
  .show-popup .blur-bg-overlay{
    opacity: 1;
    pointer-events: auto;
  }
  
  .form-popup{
    position: fixed;
    background: white;
    top: 50%;
    left: 50%;
    opacity: 0;
    pointer-events: none;
    border: 2px solid white;
    transform: translate(-50%,-100%);
    max-width: 710px;
    width: 100%;
  }
  
  .show-popup .form-popup{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%);
    transition: transform 0.4s ease, opacity 0.2s;
  }
  
  .form-popup .form-box{
    display: flex;
  }
  
  .form-popup .close-btn{
    position: absolute;
    top: 12px;
    right: 12px;
    color: black;
    cursor: pointer;
    font-size: 23px;
  }
  
  .form-box .form-details{
    max-width: 330px;
    width: 100%;
    display:flex;
    color:white;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("/images/img22.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .form-box h2{
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-box .form-content{
    width: 100%;
    padding: 35px;
  }
  
  form .input-field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  
  form .input-field input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 2px;
    border: 1px solid rgb(163, 157, 157);
  }
  
  .input-field input:focus{
    border-color: rgb(64, 66, 66);
  }
  
  .input-field input:is(:focus,:valid){
    padding: 16px 15px 0;
  
  }
  
  form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: rgb(75, 77, 77);
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
  }
  
  .input-field input:is(:focus,:valid) ~ label{
    transform: translateY(-120%);
    font-size: 0.75rem;
    color: rgb(36, 133, 133);
  }
  
  .form-box a {
    color: rgb(10, 10, 10);
    text-decoration: none;
  }
  
  .form-box a:hover {
    text-decoration: underline;
  }
  
  .form-box .forgot-pass{
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
  }
  
  form button{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-size: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: aliceblue;
    cursor: pointer;
    background: black;
    transition: 0.3s ease;
  }
  
  
  
  @media (max-width:760px){
    .form-popup{
        width:95%
    }
  
    .form-box .form-details{
        display: none;
    }
    .form-box .form-content{
        padding: 30px 20px;
    }
  }